<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>

<h2>User List</h2>

<table border="1">
    <thead>
    <tr>
        <th>User Id</th>
        <th>Common Name</th>
		<th>Surname Name</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <td th:text="${user.username}"></td>
		<td th:text="${user.cn}"></td>
        <td th:text="${user.sn}"></td>
        <td th:text="${user.password}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
